# 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 사용
- format : listNmae = [e1, e2 ....]

## 리스트 자료형 선언

In [2]:
var01 = []
var02 = [1,2,3]
var03 = ['I', "have", 'a', "dream"]
var04 = [1,2, 'dream', 'True']
var05 = [1, 2, ['Dream', 'true']]

# 리스트의 indexing과 Slicing

In [9]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

print(var05[2])
print(var05[2][0])

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'dream', 'True']
[1, 2, ['Dream', 'true']]
['Dream', 'true']
Dream

In [10]:
# 리스트의 계산
var02[0] + var02[1]

3

In [26]:
# 3중 리스트에서 indexing
var = [1,2,['a', 'b',['dream', "true"]]]
print(var)
print(var[0])
print(var[-1])
print(var[-1][-1][0])

[1, 2, ['a', 'b', ['dream', 'true']]]
1
['a', 'b', ['dream', 'true']]
dream

In [27]:
print(var[2:])

[['a', 'b', ['dream', 'true']]]

# 리스트 연산

In [28]:
# 리스트의 숫자 합치기

var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [33]:
# 리스트의 덧셈
for i in range(0, 3):
    sum = var01[i] + var02[i]
    print(sum)

5
7
9

In [39]:
tot = 0
for i in range(0, 3):
    tot += var01[i]
print(tot)

6

In [40]:
# 리스트의 숫자 반복
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [45]:
# 리스트의 곱셈
# var01의 data를 10배 계산하여 출력하기

for i in var01:
    print(i*10)

10
20
30

In [47]:
# 리스트의 타입 변환
var = [1,2,3]
print(str(var[2]) + "hi!")

3hi!

In [95]:
temp = "123"
type(temp)
temp1 = int(temp)
type(temp1)

int

# 리스트의 수정과 삭제

In [72]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [73]:
var[1:2] = ['a', 'b', 'c']
var

[1, 'a', 'b', 'c', 4]

In [74]:
# 1-2번지 데이터를 지우기
var[1:2]

['a']

In [75]:
var[1:3] = []
var

[1, 'c', 4]

In [79]:
del var[1:3]
var

[1]

In [81]:
# 리스트에 요소 추가
var = [1,2,3]
var.append(4)

[1, 2, 3, 4]

In [82]:
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [90]:
# 리스트의 정렬
var = [1,4,3,2]
print(var)

# 오름차순
var.sort()
print(var)

# 내림차순
var.reverse()
print(var[0])

print(max(var))
print(min(var))

[1, 4, 3, 2]
[1, 2, 3, 4]
4
4
1

In [94]:
# 리스트 문자 정렬 : 한글
var = ['대', '한', '민', '국']
# 오름차순 정렬
var.sort()
print(var)
# 내림차순 정렬
var.reverse()
print(var)

['국', '대', '민', '한']
['한', '민', '대', '국']

In [96]:
# 리스트의 위치 정보
var = [4,5,6]
var.index(5)

1

In [99]:
# 리스트에 요소 삽입
var = [1,2,3]
var.insert(0, 4)
var

[4, 1, 2, 3]

In [101]:
# 리스트에 요소 제거
var = [1,2,3,4,5,6]
# 데이터(요소)가 4인것 제거
var.remove(4)
var

[1, 2, 3, 5, 6]

In [105]:
# 리스트 요소 끄집어 내기
var = [1,2,3]
print(var.pop())
print(var)
print(var.pop())
print(var)

3
[1, 2]
2
[1]

In [106]:
# for문을 사용한 pop
var = [1,2,3]

for i in range(0,3):
    print(var.pop())
print(var)

3
2
1
[]

In [109]:
# 리스트의 확장
var = [1,2,3,4]
var1 = [5,6]
var.extend(var1)
var

[1, 2, 3, 4, 5, 6]