# MySQL 연결

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 254 kB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
import pymysql

In [5]:
# MySQL Connection

conn = pymysql.connect(host="127.0.0.1", user="root", passwd='qwer1234', db="education", charset="utf8")

In [6]:
curs = conn.cursor()

In [7]:
sql = "select * from student"
curs.execute(sql)

7

In [8]:
# Data Fetch
rows = curs.fetchall()
print(rows)

(('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None), ('S008', '조인성', '국어국문학과', '678-9012', None), ('S009', '강동원', '기계공학과', '111-1111', None), ('S010', '강하늘', '불어불문학과', '111-1111', None))

In [10]:
# list로 변환

rowList = list(rows)
print(rowList)

[('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None), ('S008', '조인성', '국어국문학과', '678-9012', None), ('S009', '강동원', '기계공학과', '111-1111', None), ('S010', '강하늘', '불어불문학과', '111-1111', None)]

In [11]:
print(rowList[0])

('S001', '박소명', '컴퓨터공학과', '123-4567', None)

In [12]:
conn.close()

--------

# select의 내용을 dataframe으로 보기

In [14]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/hogang/opt/anaconda3/lib/python3.8/site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in /Users/hogang/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)

In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [16]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/education?", convert_unicode=True)
conn = engine.connect()

In [26]:
data = pd.read_sql_table('student', conn)
data

ValueError: Table student not found

# dataFrame을 Database로 insert 하기

In [27]:
column = ['rank', 'movie']
movies = pd.read_csv("./Data/DaumList.csv")
movies.columns = column
movies.head()q

   rank        movie
0     1       블랙 위도우
1     2         발신제한
2     3         크루엘라
3     4  콰이어트 플레이스 2
4     5           랑종

In [28]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/daum?", convert_unicode=True)
conn = engine.connect()

In [30]:
movies.to_sql(name='movielist', con=engine, if_exists='append', index=False)